<app-navbar></app-navbar>
<section class="vh-70 gradient-custom">
    <div class="container py-5 h-70">
      <div class="row d-flex justify-content-center align-items-center h-70">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5">
              <form>
                <div class="mb-md-5 mt-md-4 pb-0">
                  <h2 class="fw-bold mb-2 text-uppercase text-center">Nouveau Client</h2>
                  <p class="text-white-50 mb-5 text-center">Veuillez entrer les détails du nouveau client!</p>
                  
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline form-white">
                        <input type="text" formControlName="firstName" class="form-control form-control-lg" placeholder="Prénom" />
                        <div class="text-danger">
                          Ce champ est requis
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline form-white">
                        <input type="text" formControlName="lastName" class="form-control form-control-lg" placeholder="Nom de famille" />
                        <div class="text-danger">
                          Ce champ est requis
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline form-white">
                        <input type="email" formControlName="email" class="form-control form-control-lg" placeholder="Email" />
                        <div class="text-danger">
                          Entrez une adresse email valide
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline form-white">
                        <input type="text" formControlName="phoneNumber" class="form-control form-control-lg" placeholder="Numéro de téléphone" />
                        <div class="text-danger">
                          Entrez un numéro de téléphone valide (10 chiffres)
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="col-md-12 mb-4">
                      <div class="form-outline form-white">
                        <input type="text" formControlName="address" class="form-control form-control-lg" placeholder="Adresse" />
                        <div class="text-danger">
                          Ce champ est requis
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="col-md-12 mb-4">
                      <div class="form-outline form-white">
                        <input type="date" formControlName="dateOfBirth" class="form-control form-control-lg" placeholder="Date de naissance" />
                        <div class="text-danger">
                          Ce champ est requis
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="text-center">
                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Ajouter</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  