<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
  <div class="container">
    <a class="navbar-brand" href="dashboard">Ma Banque</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="newClient">Ajouter nouveau client</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="newAccount">Nouveau compte bancaire</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="changePassword">Changer mot de passe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login">Déconnexion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>